* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: gainsboro;
    font-family: 'Crimson Text', serif;
        font-style: italic;
        margin: 0;
}



h1 {font-size: 3.5em;}
h2 {font-size: 2.2em;}
h3 {font-size: 2em;}
h4 {font-size: 2em;}
p {font-size: 1.22em;}
ul {list-style: none;}
li {font-size: 1.50em;}

header .container a {
    color: black;
    font-style: italic;
    transition: 0.3s;
}

header .container a:hover {
    color: blueviolet;
    font-size: 1.1em;
}

button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 15px;
    margin: 25px;
    border: none;
    border-radius: 15px;
    background-color: rgba(128, 64, 0, 0.7);
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
}

button:hover {
    color: #f2f2f2;
    transform: scale(1.1);
    animation-duration: 0,3s;
    background-color: rgba(95, 49, 33, 0.836);
}

section h2 {
    margin: 26px;
    padding: 25px;
}

section .parrafo-inicio {
    font-size: 1.75em;
    padding: 30px;
    margin: 16px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.frappu {
    color: rgb(212, 23, 23);
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 25px 25px;
    font-weight: bold;
    font-size: 4.5em;
    color: rgb(36, 36, 36);
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }

.promo {
    font-size: 3.4em;
    color: rgb(12, 12, 12);
    padding: 20px;
    position: center;
    margin: 10px;
}

#promocion .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 100px;
    position: center;
}

#promocion p {
    padding: 20px;
    font-weight: bold;
}

footer {
    background-image: 
    linear-gradient(
         0deg,
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
    )
    ,url(img/madera.jpg);
    background-position: center center;
    background-size: cover;
}

div .content-foo {
    color: azure;
}

footer h4 {
    margin: 20px;
    padding: 16px;
}

footer p {
    padding: 15px;
    margin: 15px;
}

footer .container {
    color: whitesmoke;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Desktop */

